* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif !important;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.heading {
    font-family: 'Cinzel', serif !important;
    font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 23px;
}

.modal-header {
    justify-content: center
}

.navbar-nav .nav-item {
    padding: 0 5px;
}

p {
    font-family: 'Raleway', sans-serif !important;
}

.navbar-nav .nav-item a,
.navbar-nav .nav-link.active {
    color: #fff;
}

.semi-transparant {
    background: #292929;
}

.semi-light-gray {
    background: #ebe7e5cc;
}

.logo {
    max-height: 85px;
    padding: 7px 0;
}

.scroll-nav .logo {
    padding: 5px 0;
    height: 70px;
}

.bg-main {
    background: #faf3ef;
}

.roun {
    border-radius: 20px;
}

.heading {
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    color: #24262d;

}

.details {
    background: #fff;
}

.rounded-all {
    border-radius: 24%;
}

.round-left {
    border-radius: 0 71px 71px 0 !important;
}

.rou {
    border-top-left-radius: 71px !important;
    border-bottom-left-radius: 71px !important;
}

@media only screen and (min-width: 768px) {
    .text-mobile {
        text-align: left;
    }

    .pad-tb {
        padding: 50px 20px 50px 0px !important;
    }

    .pad-tb1 {
        padding: 50px 0px 50px 20px !important;
    }

    .heading {
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
    }

    .navbar {
        padding: 0 3%;
    }

    .left-100 {
        position: relative;
        left: 100px;
        margin-left: -5%;
        padding: 20px 0;
    }

    .left--100 {
        position: relative;
        left: -100px;
        padding: 20px 0;
    }

    .left--100 h2 {
        padding: 0 55px;
    }

    .left-100 h2 {
        padding: 0 20px;
    }

    .left--100 p {
        padding: 0 0px 0px 55px;
        margin-right: -30px;
    }

    .left-100 p {
        padding: 0 20px;
    }

    .banner-configurations-site-visit {
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
}

.bg-li-header {
    background-color: #de9e53;
    color: white !important;
}


.bor-lr {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.img-w {
    width: 15%;
}

.lnh {
    font-weight: 500;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    .lr-sec .rounded-end,
    .lr-sec .rounded-5 {
        border-radius: 0 !important;
    }

    .lr-sec .rounded-start,
    .lr-sec .rounded-5 {
        border-radius: 0 !important;
    }

    .text-mobile {
        text-align: center;
    }

    .img-w {
        width: 25%;
    }

    .lnh {
        font-size: 14px;
        line-height: 17px;
        padding: 0px !important;
        font-weight: 600;
    }
}

.about-bg-1 {
    background: url(banner.jpg);
    min-height: 450px;
}

.text-justify {
    text-align: justify;
}

footer a {
    text-decoration: none;
}

.social-icon {
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 11px;
    cursor: pointer;
}

.social-twitter {
    background-color: #55acee;
}

.social-facebook {
    background-color: #3b5999;
}

.social-linkedin {
    background-color: #0077b5;
}

.social-google {
    background-color: #dd4b39;
}

.social-instagram {
    background-color: #dd4b39;
}

.social-icon i {
    transition: 0.4s all;
}

.social-icon:hover i {
    transform: scale(1.1);
}

.tab-pane img {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
}

.ms-img {
    width: 50%;
    display: block;
    margin: 0% auto;
}


@media only screen and (max-width:760px) {
    .ms-img {
        width: 100% !important;
    }
}